.Tip__compact {
    cursor: pointer;
    /* background-color: #3d464d; */
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 2px 4px rgba(37, 40, 43, 0.2);
    background-color: #fff;
    color: #2e353a;
    /* padding: 5px 10px; */
    border-radius: 3px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .Tip__card {
    color: #2e353a;
    padding: 10px;
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(37, 40, 43, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .Tip__item {
    padding: 5px 10px;
    display: inline-block;
  }

  .Tip__option {
    font-size: 0.8rem;
    padding: 2px 0;
    transition: background-color 0.2s;
  }

  .Tip__option:hover {
    background-color: #e4e2e2;
  }
  