.sidebar {
  width: 25%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.sidebar__description {
  padding: 1rem;
}

.sidebar__description__title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.sidebar__favourite__icon {
  cursor: pointer;
  margin-left: 20px;
  padding: 6px;
}

.highlight__text,
.highlight__image {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
